/* .accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 0px;
} */

.accordion__item + .accordion__item { /* stylelint-disable-line */
  border-top: 1px solid rgb(0 0 0 / 10%);
}

.accordion__button { /* stylelint-disable-line */
  background-color: var(--clr-light);
  color: #444;
  cursor: pointer;
  padding: 7px 15px;
  width: 100%;
  text-align: left;
  border: none;
}

.accordion__button:hover { /* stylelint-disable-line */
  background-color: var(--clr-gray);
}

.accordion__button::before { /* stylelint-disable-line */
  display: inline-block;
  content: '';
  height: 7px;
  width: 7px;
  margin-right: 20px;
  border-bottom: 2px solid var(--clr-primary);
  border-right: 2px solid var(--clr-accent);
  transform: rotate(-45deg);
}

/* stylelint-disable */
.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before { 
  transform: rotate(45deg);
}
/* stylelint-enable */

[hidden] {
  display: none;
}

.accordion__panel { /* stylelint-disable-line */
  padding: 0 38px;
  animation: fadein 0.35s ease-in;
  padding-bottom: 15px;
  padding-top: 25px;
  border: solid 1px rgb(0 0 0 / 10%);
  border-top: none;
}

.accordion__item:not(:last-child) .accordion__panel { /* stylelint-disable-line */
  border-bottom: none;
}

/* ---------------- Animation part ------------------ */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
