@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --clr-primary: #2274a5;
  --clr-secondary: #4059ad;
  --clr-alternative: #73d2de;
  --clr-accent: #072ac8;
  --clr-contrast: #06d6a0;
  --clr-dark: #131b23;
  --clr-light: #e9f1f7;
  --clr-gray: #ebebeb;
}

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
