.btn {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  padding: 7px 70px;
  border-radius: 5px;
  outline: none;
  border-color: var(--clr-primary);
}
.btnn {  
  color: red ; }