.App {
  text-align: center;
}
#render{
  border: 1px solid #000;
}
.container{
  margin: 0px auto ;
  max-width: 1200px;
}
.grid{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.grid > *{
  min-width: 33%;
  border: 1px dotted var(--clr-dark);
  padding: 10px 35px;
}
.scroll{
  overflow-x: scroll;
}
@media only screen and (max-width: 992px) {
  .grid > *{
    min-width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .grid > *{
    min-width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .grid > *{
    min-width: 100%;
  }
}

/*
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
} 
*/